<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/assets/add-user.png" id="icon" alt="User Icon" />
      <h1>הוספת לקוח</h1>
    </div>

    <!-- Login Form -->
    <form>
     
     
    
     
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter user email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <input type="submit" class="fadeIn fourth" value="הוספה" (click)="addUser()">
      <div id="formFooter" *ngIf="success==1">
        <a class="underlineHover" >נוסף בהצלחה!</a>
      </div>
    </form>


   

  </div>
</div>