<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"> -->
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"> 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  
  <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/assets/add-file.png" id="icon" alt="User Icon" />
      <h1>הוספת מסמך</h1>
    </div>

   
    <form [formGroup]="newDocumentForm">
        <div class="title">
            תאריך הוספת מסמך  &nbsp;  {{now| date:'dd-MM-yyyy'}}
        </div>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="name">
     <input type="file" id="login" class="fadeIn second" name="login" placeholder="name">
   
     
     <div style="direction: rtl; margin-right: 25%;">
        <div class="well well-sm text-center">

            <h3>Checkbox</h3>
            
            <div class="btn-group" data-toggle="buttons">
                
                <label class="btn btn-success active">
                    <input type="checkbox" autocomplete="off" checked>
                    <span class="glyphicon glyphicon-ok"></span>
                </label>
    </div>
        </div>
     </div>
     
   
   

    <br>
    <br>
      <input type="submit" class="fadeIn fourth" value="הוספה" >
      <div id="formFooter"  >
        <a class="underlineHover" >נוסף בהצלחה!</a>
      </div>
    </form>

   
   

  </div>
</div>
