
<head>
    <style>
    /* body  {
      background-image: url("/assets/aaa.jpg");
 
    } */
    </style>
</head>
<body> <router-outlet></router-outlet></body>

<!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->
<!-- <app-portofolio-component></app-portofolio-component> -->
<!-- <app-login></app-login> -->

<!-- <link rel="stylesheet" href="../w3css/3/w3.css">
<link rel="stylesheet" href="../../cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"> -->


<!-- <body>

<router-outlet></router-outlet>
</body> -->
