

<div class="title">  לקוחות </div>
<body style="overflow: auto;"  >
<div id="Div" >
  <!-- <button class="btn"><i class="fa fa-trash"></i></button> -->
  <table  mat-table [dataSource]="users" class="mat-elevation-z8 demo-table">
    <ng-container  matColumnDef="מחיקה">
      <th mat-header-cell *matHeaderCellDef > </th>
      <td mat-cell *matCellDef="let element"><button class="btn" (click)="deleteUser(10)"><i class="fa fa-trash"></i></button></td>
    </ng-container>
    <ng-container  matColumnDef="שם פרטי">
      <th mat-header-cell *matHeaderCellDef >שם פרטי</th>
      <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
    </ng-container>
    <ng-container  matColumnDef="שם משפחה">
      <th mat-header-cell *matHeaderCellDef>שם משפחה</th>
      <td mat-cell  style="width: 250px;" *matCellDef="let element">{{element.lastName}}</td>
    </ng-container>
    <ng-container  matColumnDef="טלפון">
      <th mat-header-cell *matHeaderCellDef>טלפון</th>
      <td mat-cell  style="width: 250px;" *matCellDef="let element">{{element.phone}}</td>
    </ng-container>
    <ng-container  matColumnDef="כתובת">
      <th mat-header-cell *matHeaderCellDef>כתובת</th>
      <td mat-cell  style="width: 250px;" *matCellDef="let element">{{element.street}}  &nbsp; {{element.houseNumber}}</td>
    </ng-container>
  
  
    <ng-container  matColumnDef="מייל">
      <th mat-header-cell *matHeaderCellDef>מייל</th>
      <td mat-cell  style="width: 250px;" *matCellDef="let element">{{element.email}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
   mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="portfolioForUser(row.id)"></tr> 
  </table> 
  
  </div>
 
</body>
<br>
<button  mat-button href="https://www.behance.net/sakiran" target="_blank" class="themeBtn" (click)="openDialog()"> <i class="fa fa-user-plus"></i> &nbsp;לקוח חדש</button>
<!-- <button mat-button (click)="openDialog()">Launch dialog</button> -->