


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!--author:starttemplate-->
<!--reference site : starttemplate.com-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords"
          content="unique login form,leamug login form,boostrap login form,responsive login form,free css html login form,download login form">
    <meta name="author" content="leamug">
    
    <link href="./login.component.css" rel="stylesheet" id="style">
    <!-- Bootstrap core Library -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-4 text-center">
            <form [formGroup]="LoginForm">
              <div class="form-login"><br>
                <img src="/assets/user (1).png" alt="" width=35% height=30%>
                <h4>wellcome</h4>
                <br>
                <input type="text" id="userName" class="form-control" placeholder="email" formControlName="name"/>
                <br>
                <input type="text" id="userPassword" class="form-control" placeholder="password" formControlName="password"/>
                <br>
                <div class="wrapper" >
                        <span class="group-btn" >
                           
                            <a  class="btn btn-danger btn-md" style=" background-color:rgb(224, 184, 3); border:rgb(224, 184, 3) ;"  (click)="login()">login <i class="fa fa-sign-in"></i></a>
                        </span>
                </div>
            </div>
        </form>
        </div>
    </div>
    <br>
    <!--footer-->
   
    <!--//footer-->
</div>
</body>
</html>