<!DOCTYPE html>
<html >
<body style="overflow: auto;">
<div id="Div">
  <div class="title"> תיק לקוח </div>
<table mat-table [dataSource]="portfolio" class="mat-elevation-z8 demo-table">
  <!-- Position Column -->
  <ng-container matColumnDef="dateOfOpen">
    <th mat-header-cell *matHeaderCellDef>dateOfOpen</th>
    <td mat-cell *matCellDef="let element">{{element.dateOfOpen | date:'yyyy-MM-dd'}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="dedLine">
    <th mat-header-cell *matHeaderCellDef>dedline</th>
    <td mat-cell *matCellDef="let element">{{element.dedline | date:'yyyy-MM-dd'}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef>userId</th>
    <td mat-cell *matCellDef="let element">{{element.userId}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>type</th>
    <td mat-cell *matCellDef="let element">{{element.type}}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>description</th>
    <td mat-cell *matCellDef="let element">{{element.description}}</td>
  </ng-container>
  

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
   <tr
  mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="portfolioFolder(row.portfolioTypeId,row.id)"></tr> 
</table> 
</div>
</body>
<br>
<button  href="https://www.behance.net/sakiran" target="_blank" class="themeBtn" (click)="openDialog()" > <i class="fa fa-plus"></i> &nbsp; פתיחת תיק </button>
</html>

